.statecard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffed99;  /* fallback for old browsers */
    text-align: center;

    border-radius: 10px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.statecard:hover{
    transform: scale(1.1);
}
.statecard > h2{
    margin: 5px 0;
}
