.App {
  width:95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-decoration-color: white;
}


input{
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
/* input:focus{
  width:330px;
  border-radius:5px;
  cursor:text;
  padding-left:40px;
  padding-right:20px;
  background-position:5px;
} */

.inputdiv{
  text-align: center;
}